body {
    background-color: #F0F8FF;
}

.li {
    list-style-type: none;
}

.ul {
    margin: 0;
    padding: 0;
}

.button {
    padding: 1.5vw 3vw;
    border: unset;
    border-radius: 1.5vw;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 1.5vw; 
    -webkit-box-shadow: 0.3vw 0.6vw 1.5vw -0.2vw rgba(0, 0, 0, 0.27); 
    box-shadow: 0.3vw 0.6vw 1.5vw -0.2vw rgba(0, 0, 0, 0.27); 
    transition: all 250ms;
    overflow: hidden;
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 1.5vw; 
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 0.3vw 0.6vw 1.5vw -0.2vw rgba(0, 0, 0, 0.27); 
    box-shadow: 0.3vw 0.6vw 1.5vw -0.2vw rgba(0, 0, 0, 0.27);
    transition: all 250ms;
  }
  
  .button:hover {
    color: #e8e8e8;
  }
  
  .button:hover::before {
    width: 100%;
  }
  
  @media (max-width: 550px) {
    .button {
      padding: 2vw 4vw;
      border-radius: 1.5vw; 
      font-size: 2vw; 
      -webkit-box-shadow: 0.5vw 1vw 2vw -0.3vw rgba(0, 0, 0, 0.27); 
      box-shadow: 0.5vw 1vw 2vw -0.3vw rgba(0, 0, 0, 0.27);
    }
  
    .button::before {
      border-radius: 1.5vw; 
    }
  }

   .img {
    width: 100%;
    height: auto;
    object-fit: fill;
   }